[Unit]
Description=TLR Agent
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/tlr-agent
NotifyAccess=all

[Install]
WantedBy=multi-user.target
